<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案件修改</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../static/css1/demo.css">
		<link rel="stylesheet" href="../static/css1/sky-forms.css">
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="css/sky-forms-ie8.css">
			<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<![endif]-->
		<script src="../static/js1/jquery-1.9.1.min.js"></script>
		<script src="../static/js1/jquery.validate.min.js"></script>
		<!--[if lt IE 10]>
			<script src="js/jquery.placeholder.min.js"></script>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/sky-forms-ie8.js"></script>
		<![endif]-->
</head>
<body class="bg-cyan">
<div class="body body-s">
            <form action="/fix/" method="post" id="sky-form" class="sky-form">
				<header>{{ data.no }}号案件修改</header>
				<fieldset>
					<section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="text" value={{ data.no }} name="no" readonly/>
							<b class="tooltip tooltip-bottom-right">案件序号不可修改！</b>
						</label>
					</section>

                    <section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="text" value={{ data.name }} name="name" />
							<b class="tooltip tooltip-bottom-right">请修改主要人员姓名</b>
						</label>
					</section>
                    <hr>

                    <section>
						<div class="button-holder">
                            <input type="radio" id="radio-1-1" name="type_key" class="regular-radio" value="民事案件"/><label for="radio-1-1">民事案件</label>
                            <input type="radio" id="radio-1-2" name="type_key" class="regular-radio" value="刑事案件"/><label for="radio-1-2">刑事案件</label>
                            <input type="radio" id="radio-1-3" name="type_key" class="regular-radio" value="行政案件"/><label for="radio-1-3">行政案件</label>
                            <input type="radio" id="radio-1-4" name="type_key" class="regular-radio" value="特殊案件"/><label for="radio-1-4">特殊案件</label>
                        </div>
					</section>
                    <hr>

                    <section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="text" value={{ data.type_value }} name="type_value" />
							<b class="tooltip tooltip-bottom-right">请修改案件名称！</b>
						</label>
					</section>

                    <section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="text" value={{ data.area_key }} name="area_key" />
							<b class="tooltip tooltip-bottom-right">请修改案发地点（省）</b>
						</label>
					</section>

                    <section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="text" value={{ data.area_value }} name="area_value" />
							<b class="tooltip tooltip-bottom-right">请输入修改地点（市）</b>
						</label>
					</section>

                    <hr>

                    <section>
						<div class="button-holder">
                            <input type="radio" id="radio-1-1" name="season" class="regular-radio" value="春季"/><label for="radio-1-1">春季</label>
                            <input type="radio" id="radio-1-2" name="season" class="regular-radio" value="夏季"/><label for="radio-1-2">夏季</label>
                            <input type="radio" id="radio-1-3" name="season" class="regular-radio" value="秋季"/><label for="radio-1-3">秋季</label>
                            <input type="radio" id="radio-1-4" name="season" class="regular-radio" value="冬季"/><label for="radio-1-4">冬季</label>
                        </div>
					</section>
                    <hr>

                    <section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="text" value={{ data.date }} name="date" />
							<b class="tooltip tooltip-bottom-right">请修改案发时间！</b>
						</label>
					</section>

                    <hr>

                    <section>
						<div class="button-holder">
                            <input type="radio" id="radio-1-1" name="make" class="regular-radio" value="已侦破"/><label for="radio-1-1">已侦破</label>
                            <input type="radio" id="radio-1-2" name="make" class="regular-radio" value="未侦破"/><label for="radio-1-2">未侦破</label>
                        </div>
					</section>

				</fieldset>
				<footer>
					<button type="submit" class="button" id="btn">提交修改</button>
				</footer>
			</form>
    </div>
<script type="text/javascript">
			$(function()
			{
                $("input:radio[value={{ data.season }}]").attr('checked','true');
                $("input:radio[value={{ data.type_key }}]").attr('checked','true');
                $("input:radio[value={{ data.make }}]").attr('checked','true');
				$("#sky-form").validate(
				{
					// Rules for form validation
					rules:
					{
						username:
						{
							required: true
						},
						email:
						{
							required: true,
							email: true
						},
						password:
						{
							required: true,
							minlength: 3,
							maxlength: 20
						},
						passwordConfirm:
						{
							required: true,
							minlength: 3,
							maxlength: 20,
							equalTo: '#password'
						},
						firstname:
						{
							required: true
						},
						lastname:
						{
							required: true
						},
						gender:
						{
							required: true
						},
						terms:
						{
							required: true
						}
					},

					// Messages for form validation
					messages:
					{
						login:
						{
							required: 'Please enter your login'
						},
						email:
						{
							required: 'Please enter your email address',
							email: 'Please enter a VALID email address'
						},
						password:
						{
							required: 'Please enter your password'
						},
						passwordConfirm:
						{
							required: 'Please enter your password one more time',
							equalTo: 'Please enter the same password as above'
						},
						firstname:
						{
							required: 'Please select your first name'
						},
						lastname:
						{
							required: 'Please select your last name'
						},
						gender:
						{
							required: 'Please select your gender'
						},
						terms:
						{
							required: 'You must agree with Terms and Conditions'
						}
					},

					// Do not change code below
					errorPlacement: function(error, element)
					{
						error.insertAfter(element.parent());
					}
				});
			});
		</script>
</body>
</html>